@font-face {
  font-family: primera;
  src: url(fonts/DrukTextWide-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: primera2;
  src: url(fonts/Druk-XCondSuper.otf);
  font-weight: bold;
}
@font-face {
  font-family: primera;
  src: url(fonts/DrukTextWide-Super.otf);
}

@font-face {
  font-family: segunda;
  src: url(fonts/DrukWide-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: segunda;
  src: url(fonts/DrukWide-Super.otf);
}

@font-face {
  font-family: tercera;
  src: url(fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: tercera;
  src: url(fonts/GlacialIndifference-Italic.otf);
}
@font-face {
  font-family: tercera;
  src: url(fonts/GlacialIndifference-Regular.otf);
}
@import "./styles/login";

:root {
  --amarillo: rgb(255, 230, 0);
  --amarillo-opaco: rgb(206, 206, 31);
  --violeta: rgb(135, 54, 189);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  overflow-x: hidden;
}

.d-none {
  display: none;
}

.house {
  
  & img {
    max-width: 25px;
  }

  &:hover {
    cursor: pointer;
  }
}



#inicio {
  height: 100vh;
  background-image: url(img/fondo_1.webp);
  background-position: center center;
  background-size: cover;
  position: relative;

  & .estrella {
    position: absolute;
    z-index: 3;
    max-width: 350px;
    right: 0;
    bottom: -100px;
    pointer-events: none;
  }

  & .idioma {
    position: absolute;
    top: 40px;
    right: 40px;
    font-family: tercera;
    font-weight: bold;
    color: var(--amarillo);
    font-size: 1.5vw;

    & a {
      cursor: pointer;
      margin: 0 3px;
    }
  }

  & .contenedor {
    max-width: 60vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  & .img {
    position: relative;

    & h1 {
      font-size: 5rem;
      margin: 0;
      position: absolute;
      top: 0;
      left: -150px;
      font-family: primera;
    }

    & p {
      font-size: 3.8vw;
      margin: 0;
      position: absolute;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      bottom: -3vh;
      left: -10vw;
      font-family: primera2;
      color: var(--amarillo);
    }

    & .foto {
      max-width: 50vw;
    }

    & .logo {
      position: absolute;
      max-width: 30vw;
      left: -25vw;
      top: -1.5vw;
    }
  }
}

#menu {
  margin-top: -4rem;
  padding-top: 4rem;
  height: 100vh;
  position: relative;
  background-image: url(img/fondo_2.webp);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & .house {
    margin: 1rem 0 2rem 8rem;
  }

  & .contenedor {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    & .elemento {
      background-color: rgb(44, 42, 42);
      
      position: relative;
      padding: 2vw 3vw 4vw 3vw;
      margin: 1vw 1vw;
      border-radius: 1rem;
      cursor: pointer;
      transition: transform .5s ease-in-out;

      &:hover {
        transform: scale(1.15);
      }

      & p {
        color: var(--amarillo);
        text-shadow: -6px 0px 0 var(--violeta);
        position: absolute;
        bottom: 3vw;
        line-height: .9;
        left: 2.5vw;
        margin: 0;
        font-size: 2.7vw;
        font-weight: bold;
        text-transform: uppercase;
        font-family: segunda;

        & .masbajo {
          bottom: 30px;
        }
        
      }

      & img {
        max-width: 125px;
      }
    }

    & .tienda {
      filter: brightness(.7);
      cursor: no-drop;
    }
    & .correr {
        & p {
          left: 1vw;
        }
    }
  }
}

#comentarios {
  padding-top: 8rem;
  padding-bottom: 20rem;
  margin-top: -4rem;
  margin-left: -5px;
  
  position: relative;
  
  background-image: url(img/fondo_3.webp);
  background-size: cover;
  background-repeat: no-repeat;

  & .house {
    margin-bottom: 2rem;
  }

  & h2 {
    font-family: primera;
    color: rgb(112, 27, 168);
    font-size: 1.7rem;
    text-shadow: -3px 0px 0 white;
  }

  & .contenedor {
    display: grid;
    grid-template-columns: 40fr 60fr;
    column-gap: 2rem;
    max-width: 90vw;
    margin: 0 auto;
  }

  & .contenedor_form {
    display: flex;
    flex-direction: column;
  }

  & .formulario {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & input[type="submit"] {
      justify-self: flex-end;
      grid-column: span 2;
      margin-right: .5rem;
      padding: .5rem 1rem;

      background-color: black;
      color: white;
      font-size: 1.2rem;
      font-family: tercera;
      cursor: pointer;
    }

    & h2 {
      grid-column: span 2;
      margin-left: .5rem;
    }

    & .campo1 {
      
    }

    & .campo2 {
      
    }
    
    & .campo3 {
      grid-column: span 2;
      
      & textarea {
        width: 100%;
      }
    }

    & .campo {
      position: relative;
      margin: .5rem;

      & label {
        position: absolute;
        left: 8px;
        top: 10px;
        font-family: tercera;
        color: rgb(177, 177, 177);
      }


      & input {
        border: none;
        padding: .5rem;
        width: 99%;
        border: 0;
        font-size: 1.1rem;
        font-family: tercera;
      }
      & textarea {
        border: none;
        padding: .5rem;
        height: 100px;
        font-size: 1.1rem;
        font-family: tercera;
      }
    }
  }

  & .textura1 {
    max-width: 39vw;
    position: absolute;
    bottom: 0;
    margin-left: 5px;
  }
}

#tu {
  background-image: url(img/fondo_4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px center;
  margin-top: -18vw;
  min-height: 100vh;
  padding-top: 15vw;

  overflow-x: hidden;

  display: flex;
  align-items: center;

  & .house {
    margin: 1rem 0 1rem 2rem;
  }

  & .estrella {
    position: absolute;
    z-index: 10;
    opacity: 0;
    max-width: 25vw;
    top: 10vw;
    right: -13.2vw;
    transform: translate(-20vw, -20vw);
    transition: transform 1s ease-in-out, opacity .1s ease;
  }

  & .estrella.activo {
    transform: translate(0);
    opacity: 1;
  }

  & p {
    font-family: tercera;
  }

  & .contenedor {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2 {
      font-family: primera;
      font-size: 2rem;
      margin: 0 0 .5rem 2.5rem;
      color: var(--amarillo);
      text-shadow: -5px 0px 0 black;
    }

    & .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: flex-end;
    }

    & .imagen {
      position: relative;

      & img {
        max-width: 50vw;
      }

      & p {
        position: absolute;
        top: 4vw;
        right: -20vw;
        font-size: 1.8vw;
        line-height: 1.8;
        font-weight: bold;
        color: rgb(41, 41, 41);
      }

      & span {
        background-color: var(--amarillo);
      }
    }

    & .info {
      p {
        font-weight: bold;
      }
      & p {
        color: white;
        font-size: 1.3vw;
        margin-left: 1rem;
      }

      & .correo {
        position: relative;
        
        & p {
          color: var(--amarillo);
          position: absolute;
          left: 37%;
          top: 45%;
          transform: translate(-50%, -50%);
        }

        & img {
          max-width: 22vw;
        }
      }
    }
  }
}

#proyectos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-image: url(img/fondo_5.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -5VW;
  padding-top: 5vw;
  margin-left: -4px;
  padding-bottom: 5rem;

  & .house {
    margin: 0 0 1rem 1rem;
  } 

  & h2 {
    font-size: 2rem;
    font-family: primera;
    font-weight: bold;
    color: var(--amarillo);
    text-shadow: -5px 0px 1px var(--violeta);
    margin: 0 0 1rem 1rem;
  }

  & .contenedor {
    max-width: 80vw;
    height: 98vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .contenedor__proyectos {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      

      & .proyecto {
        margin: 0 1rem;
        font-family: tercera;

        
        &.tienda {
          position: relative;

          & h2 {
            position: absolute;
            top: 15vh;
            left: .5vw;
            font-size: 3vw;
            text-transform: uppercase;
          }
        }

        & h3 {
          color: var(--amarillo);
          margin: 0;
        }
        & p {
          margin: .1rem;
          color: white;
          font-size: .9rem;
          font-weight: 400;
          font-style: italic;
        }

        & img {
          max-width: 13vw;
        }
      }
    }
  }
}

#prensa {
  position: relative;
  background-image: url(img/fondo_6.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -15vw;
  padding: 15vw 0 6rem 0;
  overflow: hidden;

  & .estrella {
    position: absolute;
    z-index: 10;
    opacity: 0;
    max-width: 25vw;
    bottom: -10vw;
    right: -5vw;
    transform: translate(50vw, 75vw);
    transition: transform 1s ease-in-out, opacity .1s ease;
  }

  & .estrella.activo {
    transform: translate(0);
    opacity: 1;
  }

  & .contenedor {
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2 {
      font-family: primera;
      color: var(--violeta);
      text-shadow: -4px 0px 0px white;
      font-size: 2rem;
      margin: 1rem 0;
    }

    & .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-self: center;

      & .link {
        position: relative;
        transition: all .4s ease-in-out;
        margin: .2rem 1rem;
        & p {
          position: absolute;
          color: var(--amarillo-opaco);
          font-weight: bold;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          font-family: tercera;
          font-size: 1.2rem;
        }
        & img {
          max-width: 320px;
          z-index: 1;
        }

        &:hover {
          & img {
            filter: hue-rotate(-265deg) saturate(77%) brightness(-50%);
          }
          & p {
            color: white;
          }
        }
      }
    }
  }
}

#red {
  position: relative;
  background-image: url(img/fondo_7.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10vw;
  padding: 6rem;
  padding-top: 10vw;
  margin-left: -2px;
  overflow: hidden;

  
  & .house {
    padding-top: 1rem;
  }

  & .estrella {
    position: absolute;
    z-index: 10;
    opacity: 0;
    max-width: 25vw;
    top: 0vw;
    right: -10vw;
    transform: translate(-20vw, -20vw);
    transition: transform 1s ease-in-out, opacity .1s ease;
  }

  & .estrella.activo {
    transform: translate(0);
    opacity: 1;
  }

  & .contenedor {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & h2 {
      font-size: 2rem;
      font-family: primera;
      color: var(--amarillo-opaco);
      text-shadow: -7px 0 0 black;
      margin: 1rem 0;
    }

    & .content {
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-content: center;
      align-items: flex-end;
      
      & img {
        max-width: 50vw;
      }

      & .redes {
        display: flex;
        flex-direction: column;

        & .red {
          position: relative;
          transition: all .4s ease-in-out;
          margin: .3rem 0;
          & p {
            position: absolute;
            font-weight: bold;
            color: black;
            left: 1vw;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            font-family: tercera;
            font-size: 1vw;
          }
          & img {
            max-width: 20vw;
            z-index: 1;
          }
  
          &:hover {
            & img {
              filter: hue-rotate(-265deg) saturate(77%) brightness(-50%);
            }
            & p {
              color: white;
            }
          }
        }
      }

    }
  }
}

#peliculas {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-image: url(img/fondo_5.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -5VW;
  padding-top: 5vw;
  margin-left: -4px;
  padding-bottom: 5rem;

  & .house {
    margin: 0 0 1rem 1rem;
  } 

  & h2 {
    font-size: 2rem;
    font-family: primera;
    font-weight: bold;
    color: var(--amarillo);
    text-shadow: -5px 0px 1px var(--violeta);
    margin: 0 0 1rem 1rem;
  }

  & .contenedor {
    max-width: 80vw;
    height: 98vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .contenedor__proyectos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      

      & .proyecto {
        margin: 0 1rem;
        font-family: tercera;

        
        &.tienda {
          position: relative;

          & h2 {
            position: absolute;
            top: 15vh;
            left: .5vw;
            font-size: 3vw;
            text-transform: uppercase;
          }
        }

        & h3 {
          color: var(--amarillo);
          margin: 0;
        }
        & p {
          margin: .1rem;
          color: white;
          font-size: .9rem;
          font-weight: 400;
          font-style: italic;
        }

        & img {
          max-width: 17vw;
        }
      }
    }
  }
}

#carlota {
  position: relative;
  background-image: url(img/fondo_8.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10vw;
  margin-top: -10vw;
  margin-right: -20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;

  & .house {
    margin-bottom:  3rem;
    margin-top: 3rem;
  }

  & .contenedor {
    
    max-width: 40vw;
    margin-left: 5vw;

    & p {
      font-family: tercera;
    }

    & .info {
      
      & h2 {
        font-size: 3vw;
        font-family: primera;
        color: var(--amarillo);
        text-shadow: -7px 0 0 var(--violeta);
      }
      & p {
        font-family: tercera;
        font-size: 1.6vw;
        color: white;
        font-weight: bold;
        margin: 1rem 0;
      }
      & .opaco {
        color: var(--amarillo);
      }
    }

    & .contacto {
      padding: 5vw 0;
      & p {
        color: white;
        font-size: 1.1rem;
        margin-left: 1rem;
        margin-top: .5rem;
      }

      & .correo {
        position: relative;
        padding: 0;
        max-width: 20vw;
        margin-top: .5rem;
        & p {
          color: var(--amarillo);
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: 0;

          &:last-of-type {
            margin-top: 0;
          }
        }

        & img {
          width: 20vw;
          min-width: 250px;
        }
      }
    }

    & .textura {
      width: 50vw;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 768px) {

  .house {
    margin-right: 10vw;
    margin-top: 3vw;
  }

  #inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    padding-bottom: 11rem;

    & .estrella {
      
      max-width: 300px;
      bottom: -100px;
      left: -150px;
    }

    & .idioma {
      position: initial;
      font-size: 1.5rem;
      margin: 1rem 1rem 0 0;
    }

    & .contenedor {
      max-width: 90vw;
      height: auto;
    }

    & .img {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .foto {
        width: 90vw;
        max-width: 425px;
      }

      & .logo {
        width: 88vw;
        max-width: 400px;
        position: initial;
        margin-bottom: .7rem;
        margin-top: 3rem;
        z-index: 1;
      }
      & p {
        display: none;
      }

      & .movil {
        position: relative;

        & p {
          display: block;
          position: absolute;
          white-space: nowrap;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 10vw;
          z-index: 2;
        }
      }
    }

  }

  #menu {
    height: auto;
    padding-bottom: 5rem;
    align-items: flex-end;
    margin-top: -5rem;

    & .house {
      margin-right: 10vw;
      margin-top: 3vw;
    }

    & .contenedor {
      grid-template-columns: 1fr 1fr;
      max-width: 90vw;


      & .elemento {
        transition: none;
        margin: 2vw;

        & p {
          font-size: 1.3rem;
          left: 25px;
        }
        & img {
          max-width: 100px;
        }
        &:hover {
          transform: none;
        }
      }
      & .correr {
        & p {
          left: 10px;
        }
    }
    }
  }
  
  #comentarios {

    & .house {
      align-self: flex-end;
    }

    & .contenedor {
      display: block;

      & .contenedor_form {
        & .formulario {
          display: flex;
          flex-direction: column;

          & h2 {
            text-shadow: -5px 0 0 white;
          }

          & input[type="submit"] {
            width: 85vw;
            align-self: center;
            margin-right: 0;
          }

          & .campo {
            max-width: 90vw;

            & input {
              flex: 1;
              width: 100%;
            }
          }
        }

      }
    }

    
    & .textura1 {
      display: none;
    }
  }

  #tu {
    height: auto;
    padding-top: 18vw;
    
    & .house {
      align-self: flex-end;
      margin-right: 10vw;
    }

    & .estrella {
      max-width: 50vw;
      right: -30vw;
      top: 52vw;
      transform: translate(-50vw, -75vw);
    }
  
    & .contenedor {
      max-width: 99vw;
  
      & h2 {
        margin-left: 1rem;
      }
  
      & .grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        max-width: 99vw;
        margin: 0 auto;
      }
  
      & .imagen {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        & img {
          max-width: 100vw;
        }
  
        & p {
          position:initial;
          font-size: 4vw;
          margin-top: .5rem;
          line-height: 1.3;
        }
      }
  
      & .info {
        & p {
          font-size: 3.5vw;
        }
 
        & .correo {
          max-width: 90vw;
          margin: 1rem auto;
          & p {
            font-size: 4.5vw;
            margin-left: 0;
            left: 45%;
          }
          & img {
            max-width: 85vw;
          }
        }
      }
    }
  }

  #proyectos {
    margin-top: 0rem;
    padding-top: 2rem;
    background-image: url(./img/fondo_1.webp);
    height: auto;

    & .house {
      top: 160px;
      align-self: flex-end;
      margin-right: 10vw;
      margin-top: 3vw;
    }
  
    & .contenedor {
      max-width: 98vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
  
      & .contenedor__proyectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
  
        & .proyecto {
          margin: .5rem .5rem;
          max-width: 40vw;

          &.tienda h2 {
            font-size: 7vw;
          }
  
          & img {
            max-width: 40vw;
          }
        }
      }
    }
  }

  #prensa {

    & .house {
      margin-top: 3vw;
      margin-right: 0;
      align-self: flex-end;
    }

    & .estrella {
      display: none;
    }

    & .contenedor {
      max-width: 80vw;
      & .links {
        grid-template-columns: 1fr;
        justify-items: center;

        & .link {
          
          & img {
            max-width: 80vw;
          }
        }
      }
    }
  }

  #red {
    padding: 10rem 1.5rem 5rem 1.5rem;
    margin-top: -15vh;
    overflow-x: hidden;
    margin-left: -3px;

    & .estrella {
      display: none;
    }


    & .contenedor {
      max-width: 90vw;

      & .house {
        align-self: flex-end;
      }

      & h2 {
        
      }
  
      & .content {
        grid-template-columns: 1fr;
        justify-items: center;

        & img {
          max-width: 100vw;
        }

        & .redes {

          margin-top: 1rem;
          & .red {
            & p {
              font-size: 5vw;
              left: 5vw;
            }
            & img {
              max-width: 80vw;
            }
          }
        }
      }
    }
  }

  #peliculas {
    margin-top: 0rem;
    padding-top: 2rem;
    background-image: url(./img/fondo_1.webp);
    height: auto;

    & .house {
      top: 160px;
      align-self: flex-end;
      margin-right: 10vw;
      margin-top: 3vw;
    }
  
    & .contenedor {
      max-width: 98vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
  
      & .contenedor__proyectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
  
        & .proyecto {
          margin: .5rem .5rem;
          max-width: 40vw;
  
          & img {
            max-width: 40vw;
          }
        }
      }
    }
  }

  #carlota {
    align-items: flex-end;
    padding-top: 4rem;
    overflow: auto;
    height: auto;
    margin-top: -5rem;
    padding-right: 0;
    overflow-x: hidden;

    & .house {
      align-self: flex-end;
    }
    
    & .contenedor {
      max-width: 85vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;

      & .textura {
        left: -8vw;
        width: 100vw;
        z-index: 1;
      }

      & .info {
        padding-bottom: 100vw;
        & h2 {
          font-size: 1.4rem;
          text-shadow: -5px 0 0 var(--violeta);
          margin-left: 5px;
        }
        & p {
          font-size: 1rem;
        }
      }

      & .contacto {
        z-index: 2;
        position: absolute;
        bottom: 40vw;
        left: 50%;
        transform: translateX(-50%);

        & p {
          margin-left: 0;
          font-size: 1rem;
        }
        & .correo {
          max-width: 70vw;
          & img {
            width: 70vw;
            min-width: 0;
          }
        }
      }
    }
  }
}


.transicion {
  position: fixed!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  transform: scale(0);
  z-index: 10;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.menuActivo {
  transform: scale(1);
  opacity: 1;
}